*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    max-width: 496px;
}

img {
    display: block;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.section {
    padding: 120px 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
    justify-content: flex-start;
    display: flex;
    
}

.logo-part1 {
    color: #4d5ae5;
    font-family: "Raleway", system-ui;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
}

.logo-part2 {
    color: #2e2f42;
    font-family: "Raleway", system-ui;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
}

.page-nav .link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.page-nav {
    align-items: center;
    display: flex;
    gap: 40px;
}
.page-nav ul{
    display: flex;
    gap: 40px;

}
.link-nav{
    
}
.link{
    padding: 24px 0;
}
.nav-page{
    display: flex;
    align-items: center;
}
.page-nav .link:hover {
    color: #404bbf;
}

.page-nav .link:active {
    color: #404bbf;
    text-decoration: underline;
}

address {
    justify-content: flex-end;
}
.adress-part{
    display: flex;
    gap: 40px;
}
address .link {
    color: #2e2f42;
    margin-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

address .link:hover {
    color: #404bbf;
}

.page-first-title {
    background-color: #2e2f42;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 188px 0;
}
.page-title-h1{
    max-width: 496px;
}
.container-title-page {
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.page-title {
    width: 496px;
    height: 120px;
}

.page-title h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    text-align: center;
}

.page-first-title button {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    height: 56px;
    align-self: center;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.page-first-title button:hover {
    background-color: #404bbf;
}

.categorie-list {
    display: flex;
    gap: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.categorie-list h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.categorie-list p {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.team {
    background-color: #f4f4fd;
}

.container-team-portfolio {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 120px;
    padding-top: 120px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team h2,
.portfolio h2 {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
}

.team-list h3,
.team-list p {
    text-align: center;
}

.team-list h3,
.portfolio h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.team-list p,
.portfolio p {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.portfolio-section {
    padding: 120px 0;
}
.portfolio-title{
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-list li {
    margin-bottom: 40px;
}

footer {
    background-color: #2e2f42;
    height: 312px;
    padding: 120px 0;
}

.container-footer {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 16px;
}
.logo-link{
    margin-right: 76px;
}
.footer-page{
    padding: 100px 0;

}
footer .logo-part2 {
    color: #f4f4fd;
    font-family: "Raleway", system-ui;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
}

footer .text {
    width: 264px;
    height: 72px;
}

footer .text p {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
}